<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<!--<meta charset="utf-8">-->
	<title>Gallery</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!--<script src="angular/angular.min.js"></script>
	<script src="angular/angular-route.min.js"></script>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>-->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<link type="text/css" rel="stylesheet" href="css/popup.css" />
	<script src="js/popup.js"></script>
	<script src="js/ngapp.js"></script>
</head>
<body ng-controller="myCtrl">
<!--<thumb-gallery ng-repeat="gallery in picdata"></thumb-gallery>-->
<p><input type="text" ng-model="f.id" ng-change="filter_by('id')"></p>

<div>
	<table >
		<tr>
			<th>Art Id</th>
			<th>Art Name</th>
			<th>Author</th>
			<th>Art Type</th>
			<th>Work</th>
		</tr>
		<tr ng-repeat="pic in picdata | filter: f">
			<td>{{pic.id}}</td>
			<td>{{pic.name}}</td>
			<td>{{pic.author}}</td>
			<td>{{pic.type}}</td>
			<!--<td><a href="#" id="test" class="pics"><img id="{{pic.id}}" src="{{pic.name}}" class="pics" alt="building" height="100" width="100"></a></td>
			<td><a href="#""><img id="large1.jpg" src="Images/large1.jpg" class="pics" alt="building" height="100" width="100"></a></td>-->
			<td><a href="#"><img id="{{pic.id}}" src="{{pic.name}}" ng-click="ngclick(pic.id, pic.type)" height="100" width="100"></a></td>
		</tr>
	</table>
</div>
<!--<div>
        <ul data-ng-repeat="pic in picdata">
            <li><a href="#"><img id="{{pic.id}}" src="{{pic.name}}" ng-click="ngclick(pic.id, pic.type)" height="100" width="100"></a></li>
		</ul>
</div>-->
<!--<a href="#"><img id="large1.jpg" src="Images/large1.jpg" class="pics" alt="building" height="100" width="100"></a>-->
<!--<a href="#"><img id="drop.jpg" src="Images/drop.jpg"  class="pics" alt="drop" height="100" width="100"></a>-->
<!--<a href="#"><img id="large1.jpg" src="Images/large1.jpg" class="pics" alt="building" height="100" width="100"></a>
<a href="#"><img id="drop.jpg" src="Images/drop.jpg"  class="pics" alt="drop" height="100" width="100"></a>-->
<div id="pop_background"></div>
<div id="pop_box" style="border-radius:8px;">
<span id="btnclose">&times;</span>
<!--<img src="Images/large.jpg" alt="Smiley face" height="100%" width="100%"/>-->


	<!-- Lets make a simple image magnifier -->
	<div class="magnify">
		
		<!-- This is the magnifying glass which will contain the original/large version -->		

		<div class="large" 	id="largeversion"> <!--style="background: url('Images/drop.jpg') no-repeat;">--></div>

		<!--Add description in the bottom-->
		<div class="imageWrapper">
		<!-- This is the small image -->
		<img class="small" id="smallversion" style="margin-bottom:20px;"/> <!--src="Images/drop.jpg" height="100%" width="100%"/>-->
		<div style="position:absolute;bottom:0;left:0;"><span id="imgdescription"></span></div>
		</div>
		</div>
		
	</div>
</div>
<!-- Lets load up prefixfree to handle CSS3 vendor prefixes -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
<!-- You can download it from http://leaverou.github.com/prefixfree/ -->

<!-- Time for jquery action -->
<!--<script src="http://thecodeplayer.com/uploads/js/jquery-1.7.1.min.js" type="text/javascript"></script>-->

</body>

</html>