<div class="wrapper">
<!--<thumb-gallery ng-repeat="gallery in picdata"></thumb-gallery>-->

	<div class="col-md-12">
	            <!--<div ng-repeat="pic in picdata | filter: f" class="col-md-2">-->
	            <div ng-repeat="pic in pics | filter: search" class="col-md-2">				
				<div><a href="#"><img id="{{pic.id}}" src="{{pic.name}}" class="piecepic" ng-click="ngclick(pic.id, pic.type)" height="150" width="200"></a></div>
				<div class="artdec">
				<ul class="picdec">
				<li>Art Name: {{pic.id}}</li><li>Author: {{pic.author}}</li><li> Type: {{pic.type}}</li>
				</ul>
				</div>
				</div>
	</div>

	<div id="pop_background"></div>

	<div id="pop_box">
	<span id="btnclose">&times;</span>
	<!--<img src="Images/large.jpg" alt="Smiley face" height="100%" width="100%"/>-->


		<!-- Lets make a simple image magnifier -->
		<div class="magnify">
			
			<!-- This is the magnifying glass which will contain the original/large version -->		

			<div class="large" 	id="largeversion"> <!--style="background: url('Images/drop.jpg') no-repeat;">--></div>

			<!--Add description in the bottom-->
			<div class="imageWrapper">
			<!-- This is the small image -->
			<img class="small" id="smallversion"/> <!--src="Images/drop.jpg" height="100%" width="100%"/>-->
			<div style="position:absolute;bottom:0;left:0;"><span id="imgdescription"></span></div>
			</div>
		</div>
			
	</div>
</div>
